.ciudadano-dashboard {
    display: flex;
    min-height: 80vh;
    .sidebar {
        width: 200px;
        background-color: #275d2b;
        color: white;
        padding: 1rem;
        nav a {
            display: block;
            color: white;
            margin: 0.5rem 0;
            text-decoration: none;
            font-weight: 500;
            &.active,
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .contenido {
        flex: 1;
        padding: 2rem;
        background: #f9f9f9;
    }
}