.admin-layout {
    display: flex;
    min-height: 80vh;
    .sidebar {
        width: 220px;
        background-color: #275D2B;
        color: white;
        padding: 1rem;
        h3 {
            margin-bottom: 1rem;
        }
        a {
            display: block;
            color: white;
            text-decoration: none;
            margin: 0.5rem 0;
            font-weight: 500;
            &.active {
                text-decoration: underline;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .content {
        flex: 1;
        padding: 2rem;
        background: #f9f9f9;
    }
}