<div class="solicitud-container">
    <h2>Solicitar Recolección de Residuos</h2>

    <p><strong>Usuario:</strong> {{ userNombre }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-field">
            <label for="direccion">Dirección de recolección</label>
            <input id="direccion" formControlName="direccion" type="text" class="form-control" placeholder="Ej: Calle 123 #45-67">
            <label for="tipo">Tipo de residuo:</label>
            <select id="tipo" formControlName="tipo">
          <option value="">-- Selecciona una opción --</option>
          <option value="Residuos orgánicos">Residuos orgánicos</option>
          <option value="Comida vencida">Comida vencida</option>
          <option value="Restos de jardinería">Restos de jardinería</option>
        </select>
            <div *ngIf="form.get('tipo')?.invalid && form.get('tipo')?.touched" class="error">
                Debes seleccionar un tipo de residuo.
            </div>
        </div>

        <button type="submit" [disabled]="form.invalid">Enviar Solicitud</button>
    </form>
</div>