<section class="video-educativo">
    <h1>Bienvenido al Sistema de Recolección</h1>
    <p>Transformando residuos en oportunidades.</p>
    <h2>¿Cómo transformar residuos en oportunidades?</h2>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/fn7vfZgCqmM" title="Video sobre residuos orgánicos" frameborder="0" allowfullscreen>
    </iframe>
</section>
<section class="galeria">
    <h2>Galería de buenas prácticas</h2>
    <div class="imagenes">
        <img src="assets/img/compost-1.png" alt="Compostaje 1">
        <img src="assets/img/compost-2.png" alt="Separación de residuos">
        <img src="assets/img/compost-3.png" alt="Huerto urbano">
    </div>
</section>
<section class="hero">

</section>