<header class="main-header">
    <div class="container">
        <h1 class="logo" routerLink="/home">♻ Recolección Orgánica</h1>
        <nav>
            <a routerLink="/home" routerLinkActive="active">Inicio</a>

            <ng-container *ngIf="!isLoggedIn()">
                <a routerLink="/auth/login" routerLinkActive="active">Iniciar Sesión</a>
                <a routerLink="/auth/register" routerLinkActive="active">Registrarse</a>
            </ng-container>

            <ng-container *ngIf="isLoggedIn()">
                <a *ngIf="getUserRole() === 'ciudadano'" routerLink="/ciudadano">Ciudadano</a>
                <a *ngIf="getUserRole() === 'admin'" routerLink="/admin">Administrador</a>
                <a (click)="logout()" style="cursor: pointer">Cerrar sesión</a>
            </ng-container>
        </nav>
    </div>
</header>